body {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: yellow;
    font-size: 28px;
    background-image: url("images/all_midoriya.jpg");
    background-repeat: repeat;
    background-size: 285px;
    background-attachment: fixed;
}

header,main,footer {
    background-color: blue;
    color: yellow;
    padding: 15px;
    font-family: Courier New, monospace;
}

h1 {
    font-size: 90px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    padding: 15px;
}

p {
    font-size: 20px;
    padding: 10px;
    width: 80%;
    margin-left: 125px;
    border: yellow;
    border-style: dotted; 
}

img {
    border-width: 30px;
    padding: 70px;
    border-style: solid;
    border-image-source: url("images/grid.jpg");
    border-image-slice: 106;
    border-image-width: 100px;
    border-image-repeat: round;
    margin-top: 30px;
    margin-bottom: 10px;
}

footer {
    font-size: 14px;
    text-align: center;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    border: navy;
    border-style: solid;
    border-width: 5px;
}

section {
    padding: 15px;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    padding: 0px;
}

/*ONE MANDATED CLASS*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

/*ONE MANDATED TAG*/
#training {
    width: 50%
}

/* CUSTOMIZING THE PROPERTIES OF HYPERLINKS*/
a:link, a:visited {
    color: yellow;
    background-color: red;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: blue;
}

a:active {
    color: yellow;
}
/*END HYPERLINK CUSTOMIZATION*/