body {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: yellow;
    font-size: 28px;
    background-image: url("https://previews.dropbox.com/p/thumb/AAwtIZrjapqi0q9fVxOnyvjvLUP_fcHlBU3Jpm8NfjuetMJT0jGxVtViKUnIue78w8mWAmwWghUdxGlD6IjdBKRUgLFk314XmBq_UQxQxcVvVmwRez-MbQpu6edq5luUkyPSnaOcUmU-YvkBp0RX1vYNT-1QeMZs_UPKjpfzYN8e8M4_2Tbo8AsqndDqHtnQm-rVi4dFgWTCJRDPIY128vmZ0LuYAkKYj7yLpJ0AgHMtjCdS8HwLO_4XSGw381x-smhMEyemlDy1ir9bjWG6hTBeOARhji56AuNCPXjI8DZc3sZwEzTfjg9XyvpEU-rNU9rNYL6irFazkA0g1aknQTAgkcWIh5hHWpo4IvOsmX095w/p.jpeg?fv_content=true&size_mode=5");
    background-repeat: repeat;
    background-size: 250px;
}

header,main,footer {
    background-color: blue;
    color: yellow;
    padding: 15px 25px;
    font-family: Courier New, monospace;
}

h1 {
    font-size: 50px;
    text-align: center;
    padding: 10px 15px;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

p {
    font-size: 20px;
    padding: 15px;
    width: 80%;
    margin-left: 125px;
}

footer {
    font-size: 14px;
    text-align: center;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

section {
    padding: 15px;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    padding: 10px;
}

/*ONE MANDATED CLASS*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

/*ONE MANDATED TAG*/
#training {
    width: 50%
}

/* CUSTOMIZING THE PROPERTIES OF HYPERLINKS*/
a:link, a:visited {
    color: yellow;
    background-color: red;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: blue;
}

a:active {
    color: yellow;
}
/*END HYPERLINK CUSTOMIZATION*/