body {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: yellow;
    font-size: 28px;
    background-image: url("https://previews.dropbox.com/p/thumb/AAzfy0hLyWwxaugK3t13NYFAJXWtam5o-cI12i2a3wX1DCmF_sU8WkzdUsjvPblTcOqOli6EgaF7X-RKF-TmnRg3c4ktPmg_uepjK5iV0wkU5MO4txmMqsqAHQ8fdYZf26HwOJUhv1DhVA5_lf5X5C-j7bV1ewa_JXZKT-Y93Y8RB4oVWeBxafIWFjg-8ryiUXPVTP9tw30sfDnNUMAoG6rUuNxIYP1udHHS5WIQfHONO7GP1-ppTTNM2PmWg9IcIvlAG2bDa-cPkE8MBMVc4OQjmexP2qm8JMLIb2_fR60FZz77CBx1DrcJCyhzQXj78C3IoTMNhpGrTXNbqdNZBaZwg4og7CQxp8igGUggiG2g2Q/p.jpeg?fv_content=true&size_mode=5");
    background-repeat: repeat;
    background-size: 285px;
    background-attachment: fixed;
}

header,main,footer {
    background-color: blue;
    color: yellow;
    padding: 15px;
    font-family: Courier New, monospace;
}

h1 {
    font-size: 90px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    padding: 15px;
}

p {
    font-size: 20px;
    padding: 10px;
    width: 80%;
    margin-left: 125px;
    border: yellow;
    border-style: dotted; 
}

img {
    border-width: 30px;
    padding: 70px;
    border-style: solid;
    border-image-source: url("https://previews.dropbox.com/p/thumb/AAw0o4iP7gRHMKF46TW0Hxj6hKFSUZfWFg5CSK-Zc7E8FFJgnO4Em8mNxMxKsn9eQFVmAxpHXC1_nAwkOsKDn1_C5F_BQ4-B1kez38Hh95D67nIVJH49ZSrLXQpDBbYdCuuqMP2vRtpLYj74n_64WunYB1XwQr4EGkfr2HQPhYUoK1-q5expt6GQHqz56LMuliUnPsnxJakN0mHQ3COpoDxgoKBdyShRPZapknue0SkutnvJYeOwjYbVBtbr4ckzwn0kkEv9qM9z9xuwsgM_OTI_VcDiWSKfTneRO959EkpNrVnelHIP7TP-zQSURDIEwHv5anbCt5EoIOq72udcdaZESj99yWjl8RQRIDlKFwChtkA98cnTCKwH85GoFg87akw/p.jpeg?fv_content=true&size_mode=5");
    border-image-slice: 106;
    border-image-width: 100px;
    border-image-repeat: round;
    margin-top: 30px;
    margin-bottom: 10px;
}

footer {
    font-size: 14px;
    text-align: center;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    border: navy;
    border-style: solid;
    border-width: 5px;
}

section {
    padding: 15px;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    padding: 0px;
}

/*ONE MANDATED CLASS*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

/*ONE MANDATED TAG*/
#training {
    width: 50%
}

/* CUSTOMIZING THE PROPERTIES OF HYPERLINKS*/
a:link, a:visited {
    color: yellow;
    background-color: red;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: blue;
}

a:active {
    color: yellow;
}
/*END HYPERLINK CUSTOMIZATION*/